:root {
  --devtools-bgcolor-1: #ddd;
  --devtools-fgcolor-1: #333;
  --devtools-fgcolor-2: #555;
  --devtools-fgcolor-3: #777;
}

@media (prefers-color-scheme: dark) {
  :root {
    --devtools-bgcolor-1: #444;
    --devtools-fgcolor-1: #ddd;
    --devtools-fgcolor-2: #bbb;
    --devtools-fgcolor-3: #999;
  }
}

.starbeam-devtool[open] * {
  font-family: monospace;
  font-size: 12px;
  color: var(--devtools-fgcolor-1);
  box-sizing: border-box;
  transition: width 0.2s ease-in-out;
}

.starbeam-devtool :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
  text-align: start;
}

.starbeam-devtool {
  position: fixed;
  display: grid;
  /* bottom: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* padding: 1rem; */
  /* height: max-content; */
  background-color: var(--devtools-bgcolor-1);
  color: var(--devtools-fgcolor-1);
  z-index: 99999;

  font-family: monospace;
  font-size: 14px;
  color: #fff;
  overflow: auto;
}

.starbeam-devtool:not([open]) {
  position: fixed;
  border-radius: 0.2rem;
  bottom: 1rem;
  font-size: 3rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.starbeam-devtool:not([open]) summary {
  display: grid;
  width: 2rem;
  height: 2rem;
  place-content: center;
}

.starbeam-devtool summary {
  list-style: none;
}

.starbeam-devtool[open] {
  position: fixed;
  padding: 1rem;
  bottom: 0;
  width: 100vw;
  height: auto;
}

.starbeam-devtool {
  min-height: 1rem;
}

.starbeam-devtool summary {
  cursor: pointer;
}

.starbeam-devtool ul {
  list-style-type: "→";
  padding: 0;
  padding-inline-start: 1ch;
  margin: 0;
}

.starbeam-devtool li {
  padding-inline-start: 1ch;
}

.starbeam-devtool section + section {
  margin-top: 1rem;
}

.starbeam-devtool section.dependencies {
  display: grid;
  column-gap: 0.5rem;
  align-items: center;
  grid-template-columns: max-content max-content max-content max-content;
}

.starbeam-devtool section.dependencies ul.dependencies {
  display: contents;
}

.starbeam-devtool section.dependencies h1 {
  font-weight: bold;
  grid-column: 1 / span 2;
}

.starbeam-devtool section.dependencies :not(h1) + h1 {
  margin-top: 1rem;
}

.starbeam-devtool ul.dependencies li {
  display: contents;
}

.starbeam-devtool ul.dependencies li::before {
  content: "→";
  grid-column: 1;
}

.starbeam-devtool ul.dependencies li span.kind {
  grid-column: 3;
}

.starbeam-devtool ul.dependencies li span.specified {
  grid-column: 2;
}

.starbeam-devtool ul.dependencies li button {
  background-color: transparent;
  color: var(--devtools-fgcolor-2);
  border: transparent;
  text-decoration: underline;
  cursor: pointer;
  text-align: start;
  width: max-content;
}

.starbeam-devtool ul.dependencies li button:hover {
  color: var(--devtools-fgcolor-3);
}

.starbeam-devtool ul.dependencies li button:active {
  color: var(--devtools-fgcolor-1);
}
