.app {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;

  main {
    padding-top: var(--padding);
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;

      li {
        border-radius: var(--border-radius);
        border: 2px solid var(--border-color);
        width: 300px;
        height: 160px;
        padding: var(--padding);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;

        h4 {
          font-size: 24px;
          margin: 0;
          padding: 0 var(--padding-sm);
          line-height: 1em;
          letter-spacing: -.5px;
        }

        h6 {
          margin: 0;
          line-height: 1em;
          font-size: 16px;
          font-weight: 100;

          &:first-child {
            color: rgb(203, 23, 23);
          }

          &:last-child {
            color: rgb(92, 203, 23);
          }
        }

        img {
          max-width: 100%;
          max-height: 40px;
        }

        section {
          display: flex;
          align-items: center;
          margin-top: var(--padding);
        }
      }
    }
  }
}
