$font-heading-family: "Comfortaa";

@import "vanilla-framework";

@include vanilla;
@include vf-p-icons-common;
@include vf-p-icon-change-version;
@include vf-p-icon-status-waiting;
@include vf-p-icon-stop;
@include vf-p-icon-task-outstanding;

html {
  scrollbar-gutter: stable;
}

.user-grid {
  display: grid;
  column-gap: 1rem;
  grid-template:
    "list detail" auto /
    2fr 4fr;
  align-items: start;

  .profile {
    grid-area: detail;
    height: 100%;
  }

  .user-list {
    grid-area: list;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;

    .refreshing {
      color: oklch(75% 0 29);
    }

    .error {
      color: oklch(63% 0.26 29);
    }

    .refreshing.error {
      color: oklch(90% 0.15 29);
    }

    .chips {
      display: flex;
      flex-wrap: wrap;
      grid-column: 1 / -1;
    }

    button.select {
      grid-column: 1;
    }

    > div {
      grid-column: 2;
    }

    button.invalidate {
      grid-column: 3;
    }

    form {
      grid-column: 1 / -1;
    }

    .user-item {
      display: contents;
    }

    h3 {
      margin: 0;
    }
  }
}
