#root {
  max-width: 1280px;
  width: auto;
  min-height: calc(100vh - 4rem);
  margin: 0;
  padding: 2rem;
  display: grid;
}

#root > .container {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: baseline;
  grid-template:
    "buttons buttons" min-content
    "list    pokemon" 1fr /
    minmax(10rem, max-content) 1fr;
}

pre {
  white-space: pre-wrap;
  overflow: hidden;
}

.container > .pokemon {
  grid-area: pokemon;
  display: grid;
}

.container > .buttons {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  align-self: start;
  grid-area: buttons;
}

.container > ul {
  grid-area: list;
  position: sticky;
  top: 2rem;
  align-self: start;
}
