@import "purecss/build/base.css";
@import "purecss/build/forms.css";
@import "purecss/build/buttons.css";

* {
  box-sizing: border-box;
}

body {
  color: var(--fg);
  background-color: var(--bg);
}

main {
  display: grid;
  row-gap: 3rem;
  padding-inline: 1rem;
  padding-block: 3rem;
}

div.header {
  position: fixed;
  padding-block: 1rem;
  padding-inline: 1rem;
  background-color: var(--bg);
  width: 100%;
}

:root {
  font-size: 32px;
  --ratio: 1.1;
  --s0: 1;
  --s-normal: 1rem;
  --s1: calc(var(--ratio) * var(--s0));
  --sup-1: calc(var(--s1) * 1rem);
  --s2: calc(var(--ratio) * var(--s1));
  --sup-2: calc(var(--s2) * 1rem);
  --s3: calc(var(--ratio) * var(--s2));
  --sup-3: calc(var(--s3) * 1rem);
  --s4: calc(var(--ratio) * var(--s3));
  --sup-4: calc(var(--s4) * 1rem);
  --s-1: calc(1 / (var(--s1)));
  --sdown-1: calc(var(--s-1) * 1rem);
  --s-2: calc(1 / (var(--s2)));
  --sdown-2: calc(var(--s-2) * 1rem);
  --s-3: calc(1 / (var(--s3)));
  --sdown-3: calc(var(--s-3) * 1rem);
  --s-4: calc(1 / (var(--s4)));
  --sdown-4: calc(var(--s-4) * 1rem);
}

h1 {
  font-size: var(--sup-4);
}

h2 {
  font-size: var(--sup-2);
}

h3 {
  font-size: var(--sup-1);
}

h4 {
  font-size: var(--s0);
}

p {
  font-size: var(--s-normal);
}

label,
span,
option {
  font-size: var(--sdown-3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: hsl(210, 2%, 98%);
    --bg: hsl(210, 2%, 20%);
    --bg-alt: hsl(210, 2%, 30%);

    --fg-card: hsl(210, 20%, 98%);
    --bg-card: hsl(210, 50%, 30%);

    --primary-fg: hsl(190, 100%, 100%);
    --primary-bg: hsl(190, 50%, 30%);
    --primary-border: hsl(190, 50%, 40%);

    --problem-bg: hsl(0, 90%, 30%);
    --problem-fg: hsl(0, 90%, 98%);
    --problem-border: hsl(0, 90%, 40%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --fg: hsl(210, 2%, 20%);
    --bg: hsl(210, 2%, 98%);
    --bg-alt: hsl(210, 2%, 90%);

    --fg-card: hsl(210, 50%, 30%);
    --bg-card: hsl(210, 20%, 97%);

    --primary-fg: hsl(190, 100%, 98%);
    --primary-bg: hsl(190, 100%, 40%);
    --primary-border: hsl(190, 100%, 10%);

    --problem-bg: hsl(0, 90%, 90%);
    --problem-fg: hsl(0, 90%, 20%);
    --problem-border: hsl(0, 90%, 70%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
button {
  margin: 0;
}

.card {
  background-color: var(--bg-card);
  color: var(--fg-card);

  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  border: 1px solid var(--fg);
  border-radius: 0.5rem;
  padding: 1rem;
}

button.pure-button {
  border-radius: 0.5em;
}

form {
  display: grid;
}

label {
  display: grid;

  align-items: baseline;
  grid-template-columns: [label] 1fr [input] 3fr [end];

  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

label span:first-child {
  justify-self: end;
  text-align: end;
  grid-column: label;
}

label input {
  grid-column: input;
}

form:invalid button[type="submit"] {
  filter: grayscale(80%);
}

input:invalid {
  background-color: var(--problem-bg);
  border: 2px solid var(--problem-border);
}

input + span[data-field] {
  visibility: hidden;
  grid-column: input;
  color: var(--problem-fg);
}

input:required:invalid + span[data-field] {
  visibility: visible;
}

input:required + span[data-field]:before {
  content: attr(data-field) " is required";
}

input:invalid + span[data-field]:before {
  font-size: var(--sdown-4);
  color: var(--problem-fg);
}

input[type="checkbox"] {
  width: 0.75rem;
  height: 0.75rem;
}

form {
  display: grid;
  row-gap: 1rem;
}

button[type="submit"] {
  color: var(--primary-fg);
  background-color: var(--primary-bg);
  border: 2px solid var(--primary-border);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  justify-self: end;
  border-radius: 0.5rem;
  grid-column: 2;
  width: max-content;
}

button[type="submit"]:hover {
  filter: brightness(1.1);
}

button[type="submit"]:active {
  filter: brightness(0.9);
}

p.output {
  text-align: center;
  border-block-start: 1px solid var(--fg);
  padding-block-start: 0.5rem;
}

table {
  font-size: var(--sdown-3);
  border-collapse: collapse;
  table-layout: fixed;
}

th.actions,
th.id,
td.actions,
td.id {
  width: 0;
  padding-inline: 0.5rem;
}

th:nth-child(3) {
  width: 10vw;
}

tr:nth-child(even) {
  background-color: var(--bg-alt);
}

td,
th {
  text-align: start;
  border-block-end: 1px solid var(--fg-card);
}

td button {
  background-color: transparent;
  border: none;
}

tr.summary {
  font-style: italic;
  background-color: var(--fg);
  color: var(--bg);
}

tr.summary[data-items="0"] td {
  font-weight: bold;
  text-align: center;
}

tr.summary td {
  text-align: end;
  padding-block: 0.2rem;
  padding-inline-end: 0.5rem;
  width: 1fr;
}

details[open] summary {
  margin-block-end: 1rem;
}

details summary {
  font-size: var(--sdown-3);
  font-weight: bold;
}
