name: CI
on:
  push:
    branches: [master]
  pull_request:
jobs:
  install_dependencies:
    name: "Setup"
    runs-on: "ubuntu-latest"
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v2
      - name: "Setup node and install dependencies"
        uses: ./.github/actions/setup-node-and-install
        # currently not used - as tests, lints, etc are all top-level commands / projects
        # if we were to make each workspace isolated, we'd first need to copy tsc/eslint/vitest
        # configs into each package -- but that would be slower than what today's setup is.
      - id: set-matrix
        name: "Find workspaces"
        # generates a list of root-relative paths to each workspace
        #
        # the pipes line-by-line:
        #   Remove version information
        #   Remove the current directory
        #   Remove empty lines
        #   Remove leading slashes
        run: |
          root_of_repo=$(git rev-parse --show-toplevel)
          workspaces=$(pnpm ls -r --depth -1 --long --parseable \
            | cut -f1 -d':' \
            | sed "s~$root_of_repo~~g" \
            | sed '/^[[:space:]]*$/d' \
            | sed 's~^/~~g')
          echo "::set-output name=matrix::$(echo $workspaces)"

  test:
    name: "Tests"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - name: "Setup node and install dependencies"
        uses: ./.github/actions/setup-node-and-install
      - run: pnpm test

  typecheck:
    name: "Typecheck"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - name: "Setup node and install dependencies"
        uses: ./.github/actions/setup-node-and-install
      - run: pnpm typecheck

  lint:
    name: "Lint"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - name: "Setup node and install dependencies"
        uses: ./.github/actions/setup-node-and-install
      - run: pnpm lint
