name: CI
on:
  push:
    branches: [ master ]
  pull_request:
jobs:
  test:
    name: "Tests"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - name: "Setup node and install dependencies"
        uses: ./.github/actions/setup-node-and-install
      - run: pnpm test
  typecheck:
    name: "Typecheck"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2
      - name: "Setup node and install dependencies"
        uses: ./.github/actions/setup-node-and-install
      - run: pnpm typecheck
